<Footer>
    <nav>
        <ul>
            <li><a href="/index">
                <span class="material-symbols-outlined">
                    home
                    </span>
            </a></li>
            <li><a href="/overview">
                <span class="material-symbols-outlined">
                    dashboard
                    </span>
            </a></li>
            <li><a href="/matching">
                <span class="material-symbols-outlined">
                    handshake
                    </span>
            </a></li>
            <li><a href="/profile">
                <span class="material-symbols-outlined">
                    person
                    </span>
            </a></li>
        </ul>
    </nav>
    
</Footer>