main {
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
  }

ul{
    padding-left: 0;
}
  
h1 {
    font-size: 1.5em;
    color: var(--kop);
    margin: 0.75em 0 0.5em 0.75em;
  }
  
p {
    font-size: 1em;
    margin: 0.25em 0;
    color: var(--tekst);
    margin: 0 1em 0 1em;
  }

.card-img-wrapper {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-areas: "image";
  }
  
.card-img-wrapper img {
    width: 100%;
    height: auto;
    display: block;
  }
  

.card-date {
    position: absolute;
    bottom: 0.75em;
    left: 0.75em;
    background-color: var(--backgroundSecundary);
    padding: 0.6em .75em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }
  
.card-date .day {
    font-size: 1.5em;
    color: var(--lichtBlauw);
    line-height: 1;
  }
  
.card-date .month {
    font-size: 0.75em;
    color: var(--tekstSecundary);
    text-transform: lowercase;
    line-height: 1;
  }

.titel{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    gap: 1em;  
}
  
.favo-btn {
    width: 3em;
    height: 3em;
    background: none;
    border: none;
    padding: 0;
    margin: 1em 1em 0 0;
}
  
.favo-btn img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.time-tag{
    display: inline-flex;
    justify-items: center;
    align-items: center;
    background-color: var(--backgroundSecundary);
    color: var(--tekst);
    padding: 0.5em 0 0.5em 0;
    border-radius: 5em;
    font-size: 1.2em;
    margin: 0 0 0.75em 0.75em;
}

.time-tag img{
    width: 1.2em;
    height: 1.2em;
    padding-left: 0.5em;
}

.time-tag p{
    margin: 0 0.75em 0 0.75em;
}

.time-tag p:nth-last-of-type(2){
    margin: 0;
}

.close-btn {
    position: fixed;
    top: 1em;
    right: 1em;
    width: 2em;
    height: 2em;
    z-index: 1000;
  }

.genre-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 1em 0 1em 1em;
  }
  
.genre-tag {
    background-color: var(--paars);
    color: white;
    padding: 0.25em 0.75em;
    border-radius: 10em;
    font-size: 0.9em;
    font-weight: 500;
  }

.subgenre-tag{
    background-color: var(--roze);
    color: white;
    padding: 0.25em 0.75em;
    border-radius: 10em;
    font-size: 0.9em;
    font-weight: 500;
  }

button{
    display: block;
    margin: 3em auto 1em auto;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 1em;
    color: var(--tekst);
    background-color: var(--paars);
    height: 2.875em;
    width: 17.75em;
    border: solid 0.0625em var(--paars);
    border-radius: 2em;
}
  
.tickets {
    display: flex;
    justify-content: center;
    color: var(--tekst);
    text-decoration: none;
    border: 0.08em solid var(--tekst);
    padding: 0.75em 1em;
    border-radius: 2em;
    margin: 0 3em 0 3em;
  }