main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    height: calc(100vh - (9em + 62px));
    margin-bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

p {
    font-size: 1em;
}

a {
    font-size: 1em;
    color: var(--lichtBlauw);
}

h2 {
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em; 
  }
  
  label {
    font-size: 1em; 
    font-weight: 600;
  }

  input {
    color: white;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="file"] {
    padding: 0.75em; 
    border-radius: 0.5em; 
    border: none;
    background-color: var(--inputBackground)
  }
  
  input[type="submit"] {
    padding: 0.9em; 
    background-color: var(--lichtBlauw);
    color: #020528;
    font-weight: bold;
    border: none;
    border-radius: 0.5em; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: var(--blauw);
  }

input::placeholder {
    color: white;
    opacity: 0.8;
  }



  .button {
    display: flex;
    justify-content: center;
    color: var(--tekst);
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    border: 0.08em solid var(--tekst);
    padding: 0.75em 1em;
    border-radius: 2em;
  }

  .showPassword {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    font-size: .9em;
    font-weight: 300;
  }

  .showPassword input {
    margin-left: 1em;
  }