/* Algemene basis */
main *,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
}
  
main{
    padding: 2em;
    overflow: clip;
    margin-bottom: 0;
    position: relative;
}

h1{
    font-family: 'Staatliches', 'Quicksand', Helvetica, Arial, sans-serif;
    margin-bottom: 1em;
}

h2{
    font-size: 1em;
}

li {
    list-style: none;
}

li.matchItem a {
    display: flex;
    background-color: var(--backgroundSecundary);
    padding: 1em;
    border-radius: 1.5em;
    margin-bottom: 1em;
    color: var(--tekst);
    text-decoration: none;
}

.matchItem a img.matchImg{
    width: 4em;
    height: 4em;
    border-radius: 10em;
    margin-right: 1em;
}

li.matchItem a div.matchInfo{
    align-self: center;
}

/* More matches button fixed bottom center */
a.moreMatches {
    position: fixed;
    bottom: 7.5em;   
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    color: var(--tekst);
    background-color: var(--roze);
    text-decoration: none;
    font-weight: 600;
    padding: 1em 1.4em;
    border-radius: 10em;
}

