main{
    padding: 1em;
}

main ul{
    padding: 0;
}

li.matches {
    list-style: none;
    font-family: 'Quicksand', sans-serif;
}

.matchFotoContainer{
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: .5em;
    margin-bottom: 1em;
    display: grid;
    align-items: end
}

.matchFotoContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    grid-area: 1 / 1 / 3 / 2;
}

.matchNaam{
    background: rgba(0, 0, 0, 0.3);
    color: var(--tekst);
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    position: unset;
    grid-area: 2 / 1 / 3 / 2;
}

.matchGenres{
    list-style: none;
    display: flex;
    flex-direction: column;
}

li.matchGenres {    
    border: .07em solid var(--tekst);
    border-radius: 999em;
    padding: .3em .7em;
    display: inline-block; 
    max-width: fit-content; 
    margin: 0.1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: .85em;
}


.matchButtons{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.matches button{
    width: 11.7em;
    border-radius: .5em;
    height: 2.8em;

    border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.matches button:nth-of-type(1) {
    color: var(--roze);
    background-color: var(--backgroundSecundary);
}

.matches button:nth-of-type(2){
    color: var(--background);
    background-color: var(--roze);
}

ul.matches{
    display: grid;
}

.matches > li {
    grid-area: 1 / 1 / 2 / 2;
    margin-bottom: 2em;
    list-style: none;
    background-color: var(--background);
    border-radius: .5em;
}

/* animatie */
@keyframes removeMatch {
    to {
      scale: 0.8;
      rotate: -20deg;
      translate: -25em -5em;
      border: .3em solid red;
    }
  }
  
  @keyframes addMatch {
    to {
      scale: 0.8;
      rotate: 20deg;
      translate: 25em -5em;
      border: .3em solid green;
      opacity: 0;
    }
  }
  
  .swipe-left {
    animation: removeMatch 0.5s ease-out forwards;
  }
  
  .swipe-right {
    animation: addMatch 0.5s ease-out forwards;
  }

  .matchPopUp{
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 2em);
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  #closePopup{
    position: absolute;
    top: 1em;
    right: 1em;
  }