main{
    padding: 1em;
}

main ul{
    padding: 0;
}

li.matches {
    list-style: none;
    font-family: 'Quicksand', sans-serif;
}

.matchFotoContainer{
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: .5em;
    margin-bottom: 1em;
}

.matchFotoContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.matchNaam{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    color: var(--tekst);
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    z-index: 5;
}



.matchGenres{
    list-style: none;
    display: flex;
    flex-direction: column;
}

li.matchGenres {    
    border: .07em solid var(--tekst);
    border-radius: 999em;
    padding: .3em .7em;
    display: inline-block; 
    max-width: fit-content; 
    margin: 0.1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: .85em;
}


.matchButtons{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.matches button{
    width: 11.7em;
    border-radius: .5em;
    height: 2.8em;

    border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.matches button:nth-of-type(1) {
    color: var(--roze);
    background-color: var(--backgroundSecundary);
}

.matches button:nth-of-type(2){
    color: var(--background);
    background-color: var(--roze);
}

.matches > li {
    margin-bottom: 2em;
    list-style: none;
    background-color: var(--background);
    border-radius: .5em;
  }