section:first-of-type {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

section h2 {
    font-family: 'Staatliches', sans-serif;
}

section:first-of-type h2 {
    font-size: 2em;
}

.profiel-foto img {
    width: 11em;
    height: 11em;
    background-color: #6B3AB4; 
    border-radius: 50%; 
    margin: 0 auto;
}

.profiel-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 2em 2em 0 2em;
}

.profiel-info p {
    font-weight: bold;
}

.bio {
    display: flex;
    flex-direction: column;

    margin: 0 2em 2em;
    background-color: var(--backgroundSecundary);
    padding: 1em;
}

.bio p {
    margin: 0;
}

.top-artiesten ol, .top-genres ol {
    display: flex;
    gap: 1.2em;
    overflow-x: auto;       
    list-style: none;
    padding: 1em 1em 4em 1em;
    margin: 0;
  }
  
  .top-artiesten li, .top-genres li {
    flex: 0 0 auto; 
    text-align: center;
    padding: 1em;
  }
  
  .top-artiesten img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5em;
  }

  .top-artiesten h2, .top-genres h2 {
    text-align: left;
    margin-left: 1.5em;

    font-size: 1.3em;
  }
    
.genre-rank {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Staatliches', sans-serif;
    margin-bottom: 0.5em;
  }



