/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --background:#02061E;
    --backgroundSecundary:#02061E;
	--tekst:#f5f5f7;

	--roze:#B91BF4;
    --paars:#6B3AB4;
    --blauw:#4D37F6;
	--lichtBlauw:#8E80FF;

    --main-gradient: linear-gradient(to right, #B91BF4, #6B3AB4, #4D37F6 ,#8E80FF);
}

/*********/
/* FONTS */
/*********/



/********************/
/* ALGEMENE STYLING */
/********************/



/**********/
/* HEADER */
/**********/



/**********/
/* FOOTER */
/**********/


