<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body class="container">

  <%- include('../partials/header'); %>

<main>
  <section class="login">
    <h2>Login</h2>

    <form action="/login" method="POST">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="voorbeeld@email.nl">
      <label for="password">Wachtwoord</label>
      <input id="password" type="password" name="password" placeholder="Vul hier je wachtwoord in">
      <label class="showPassword" for="showPassword">Wachtwoord weergeven
        <input type="checkbox" id="showPassword" onclick="togglePassword()"></label>
      <input type="submit" value="Submit">
    </form>
    <p>Nog geen account? <a href="/registration">Registreer hier</a></p>
  </section>
  <a href="/overview" class="button">Kijk even rond</a>
</main>

<script src="/login.js"></script>

<%- include('../partials/footer'); %>

</body>
</html>