<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Settings</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="/profileSettings.css">
</head>


<body>
    <%- include('../partials/header'); %>

    <main>

        <section class="profiel">

            <!-- knop die instellingen ontgrendelt -->
            <div class="center-wrapper">
            <button type="button" class="fullscreen-button" onclick="enableEditing()">Bewerk instellingen</button>
            </div>

            <h1>Profiel</h1>

            <!-- formulier -->
        <div class="form-wrapper">
            <form action="/settings" method="POST" enctype="multipart/form-data">

                <div class="profielfoto-wrapper">
                    <div class="profielfoto">
                        <% if (user.profilePic) { %>
                        <img src="/uploads/<%= user.profilePic %>" alt="Profile Picture">
                        <% } else { %>
                        <span class="placeholder"></span>
                        <% } %>
                        <input type="file" id="profileUpload" name="profilePic" accept="image/*" disabled>
                    </div>
                    <label for="profileUpload" class="plus-button">+</label>
                </div>

                <div class="name-fields">
                    <div class="firstName">
                        <input type="text" name="firstName" placeholder="Voornaam" disabled />
                    </div>
                    <div class="lastName">
                        <input type="text" name="lastName" placeholder="Achternaam" disabled />
                    </div>
                </div>

                <div class="leeftijd">
                    <input type="number" name="age" placeholder="Leeftijd" disabled/><br>
                </div>

                <div class="geslacht">
                    <select name="gender" disabled>
                        <option value="">Geslacht</option>
                        <option value="man">Man</option>
                        <option value="vrouw">Vrouw</option>
                        <option value="anders">Anders</option>
                    </select>
                </div>

                <div class="bio">
                    <input type="text" name="bio" placeholder="Vertel iets over jezelf..." disabled/><br>
                </div>
            </form>
        </div>

            <script>
                function enableEditing() {
                const fields = document.querySelectorAll('input, select, textarea');
                fields.forEach(field => field.disabled = false);
            
                document.querySelector('button[onclick="enableEditing()"]').style.display = "none";
                }
            </script>
        </section>


        <section class="accountmanagement">
            <h1>Accountmanagement</h1>

                <div class="email">
                    <input type="email" name="email" placeholder="E-mail" disabled/>
                </div>

                <div class="wachtwoord">
                    <input type="password" name="password" placeholder="Wachtwoord" disabled/>
                </div>

            <label>Account verwijderen</label>
                <div class="account-verwijderen">
                    <!-- button -->
                </div>
        </section>


        <section class="concertvoorkeuren">
            <h1>Concertvoorkeuren</h1>

            <form id="concertForm">

                <fieldset>
                    <legend>Genre's</legend><br>
                        <div class="genres"></div>
                            <!-- vervangen door genre's uit overview -->
                            <label><input type="checkbox" name="genre" value="Genre" disabled> Genre</label><br>
                        </div>
                </fieldset>
            </form>
        </section>
       
        
        <section class="matchvoorkeuren">
            <h1>Matchvoorkeuren</h1>
            <label>Leeftijd</label><br>

            <label>Geslacht</label><br>
            <div class="gender">
                <label><input type="checkbox" name="gender" value="Man" disabled> Man</label>
                <label><input type="checkbox" name="gender" value="Vrouw" disabled> Vrouw</label>
                <label><input type="checkbox" name="gender" value="Anders" disabled> Anders</label><br>
            </div>

            <label>Taal</label>
        </section>


        <section class="chatvoorkeuren">
            <h1>Chatvoorkeuren</h1>
            <label>Geblokkeerde accounts</label><br>
            <!-- pop-up met lijst van accounts -->
        </section>


        <section class="notificaties">
            <h1>Notificaties</h1>
            <div class="toggle-group">
                <input type="checkbox" id="chats" hidden disabled>
                <label for="chats">Chats</label>

                <input type="checkbox" id="artiesten" hidden disabled>
                <label for="artiesten">Concerten van je favoriete artiesten</label><br>

                <input type="checkbox" id="genres" hidden disabled>
                <label for="genres">Concerten van je favoriete genre's</label><br>

                <input type="checkbox" id="sferen" hidden disabled>
                <label for="sferen">Concerten van je favoriete sferen</label><br>

                <input type="checkbox" id="locaties" hidden disabled>
                <label for="locaties">Concerten op je favoriete locaties</label>
            </div>
        </section>


        <section class="uitloggen">
            <h1>Uitloggen</h1>
        </section>


    <button type="submit">Instellingen opslaan</button>

    <%- include('../partials/footer'); %>
</body>
</html>