<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/profiel.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head> 

<body>
    <%- include('../partials/header'); %>
    <main>
        <section>
            <h2>Profiel</h2>
            <div class="profiel-foto"></div>
            <p>@tessamuilwijk</p>
        </section>

        <div class="profiel-info">
            <p>19 jaar oud</p>
            <p>Zuid-holland</p>
        </div>

        <div class="bio">
            <p>Hi, ik ben Tess. <br>
            Ik hou veel van pop zoals je aan mijn favoriete artiesten kunt zien... Ik vind het heel leuk om nieuwe mensen te ontmoeten die ook een passie voor muziek hebben en gelijke favoriete artiesten. Ik ben altijd wel aan voor een concert en sta open om nieuwe muziek te ontdekken! </p>
        </div>

        <section class="top-artiesten">
            <h2>Mijn top 5 artiesten</h2>
            <ol>
              <li>
                <img src="uploads/artiesten/billie-eilish.png" alt="Billie Eilish">
                <p>Billie Eilish</p>
              </li>
              <li>
                <img src="" alt="Taylor Swift">
                <p>Taylor Swift</p>
              </li>
              <li>
                <img src="" alt="Reneé Rapp">
                <p>Reneé Rapp</p>
              </li>
              <li>
                <img src="" alt="Lana Del Rey">
                <p>Lana Del Rey</p>
              </li>
              <li>
                <img src="" alt="Tate McRae">
                <p>Tate McRae</p>
              </li>
            </ol>
          </section>

          <section class="top-genres">
            <h2>Mijn top 5 genres</h2>
            <ol>
              <li>
                <p>Pop</p>
              </li>
              <li>
                <p>Alternative</p>
              </li>
              <li>
                <p>Indie</p>
              </li>
              <li>
                <p>R&B</p>
              </li>
              <li>
                <p>Rock</p>
              </li>
            </ol>
          </section>
          
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>